.navLink {
    text-decoration: none;
}

.chakra-button:hover {
    text-decoration: none;
}

.UserAvatarinner {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.UserAvatarinner.chakra-button:hover {
    text-decoration: none;
}